.header-pizza {
  background-image: url('/src/assets/img/Header.jpg'); 
  background-size: cover;
  background-position: center; 
  background-color: rgba(0, 0, 0, 0.5); 
  background-blend-mode: overlay;
}

html, body, #root {
  width: 100%;
  min-height: 100vh; 
  margin: 0;
  padding: 0;
}

body {
    background-color: white;
}